* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    padding: 1rem;
}

body > header h1 {
    font-size: 3rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    padding: 1rem;
}

article {
    padding: 1rem;
    
    border: solid black 1px;
}

article header {
    border-bottom: solid grey 1px;
}

article header h1 {
    margin-top: 0.5rem;
    
    font-size: 2rem;
}

article header h2 {
    margin-top: 0.5rem;

    color: gray;
}

article img {
    height: 5rem;
    width: 5rem;
    border-radius: 2.5rem;
    margin: 0.5rem 0;
}

article > h1, article > h2, article > h3 {
    margin-top: 1rem;
}

article p {
    margin-top: 0.5rem;
}

article ul {
    padding-left: 2rem;
}